*,
html,
body {
  margin: 0;
  padding: 0;
}

* + * {
  margin-bottom: 0.5em;
  margin-block-end: 0.5em;
}

body {
  display: grid;
  min-height: 90vh;
  place-items: center;
}

main {
  max-width: 60ch;
}

input[type="checkbox"] {
  position: absolute;
  left: -10000px;
  inset-inline-start: -10000px;
  top: auto;
  inset-block-start: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input[type="text"] {
  display: block;
  width: 100%;
}

textarea {
  width: 100%;
}

label {
  display: inline-block;
  margin: 0 0.5em 0.25em 0.25em;
  white-space: nowrap;
}

[disabled] {
  cursor: not-allowed;
}
