<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fedi Builders</title>
    <meta
      name="description"
      content="A landing page to redirect you to a fediverse projects based on your expertise"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <link rel="stylesheet" href="./style.css" />
    <style>
      .app {
        display: none;
      }

      {% for license, programmingLanguages in apps | licenseProgrammingLanguagePairs %}
        {% for programmingLanguage in programmingLanguages %}
          input[data-programming-language="{{ programmingLanguage }}"]:checked ~ input[data-license="{{ license }}"]:checked ~ .app[data-license="{{ license }}"][data-programming-language="{{ programmingLanguage }}"] {
            display: block;
          }
        {% endfor %}
      {% endfor %}

      {%- for license, apps in apps | groupby('license') -%}
        {% if license %}
          input[data-programming-language="all"]:checked ~ input[data-license="{{ license }}"]:checked ~ .app[data-license="{{ license }}"] {
      display: block;
    }
        {% endif %}
      {% endfor %}

      {%- for programmingLanguage, apps in apps | groupby('programmingLanguage') -%}
        {% if programmingLanguage %}
          input[data-programming-language="{{ programmingLanguage }}"]:checked ~ input[data-license="all"]:checked ~ .app[data-programming-language="{{ programmingLanguage }}"] {
      display: block;
    }
        {% endif %}
      {% endfor %}

      input[data-programming-language="all"]:checked ~ input[data-license="all"]:checked ~ .app {
        display: block;
      }
    </style>
  </head>
  <body>
    <main>
      {{- content | safe -}}

      {%- if apps | length > 0 -%}
        <h2>Filter by programming language</h2>
        <input
          type="radio"
          id="input-programming-language-all"
          name="programming-language"
          data-programming-language="all"
          checked="checked"
        /><label for="input-programming-language-all" tabindex="0">
          Show all
        </label>

        {%- for programmingLanguage, apps in apps | groupby('programmingLanguage') -%}
          {%- set app = apps | first -%}
          {%- if app.programmingLanguage -%}
            <input
              type="radio"
              id="input-{{ programmingLanguage | replace(' ', '_') | lower }}"
              name="programming-language"
              data-programming-language="{{ app.programmingLanguage }}"
            /><label for="input-{{ programmingLanguage | replace(' ', '_') | lower }}" tabindex="0">
              {{ programmingLanguage }}
            </label>
          {%- endif -%}
        {%- endfor -%}

        <h2>Filter by license</h2>
        <input
          type="radio"
          id="input-license-all"
          name="license"
          data-license="all"
          checked="checked"
        />
        <label for="input-license-all" tabindex="0">
          Show all
        </label>

        {%- for license, apps in apps | groupby('license') -%}
          {%- set app = apps | first -%}
          {%- if app.license -%}
            <input
              type="radio"
              id="input-{{ license | replace(' ', '_') | lower }}"
              name="license"
              data-license="{{ app.license }}"
            />
            <label for="input-{{ license | replace(' ', '_') | lower }}" tabindex="0">
              {{ license }}
            </label>
          {%- endif -%}
        {%- endfor -%}

        <h2>Results</h2>
        <p>(Might be empty if nothing matches)</p>

        {%- for app in apps -%}
          <div
            class="app"
            data-license="{{ app.license }}"
            data-programming-language="{{ app.programmingLanguage }}"
          >
            <h3><a href="{{ app.link }}">{{ app.name }}</a></h3>
            <p>{{ app.description }}</p>
            <p>Written in {{ app.programmingLanguage }} language.</p>
            <p>Licensed under {{ app.license }}.</p>
          </div>
        {%- endfor -%}
      {%- else -%}
        <p>No projects available at this time. Come back later.</p>
      {%- endif -%}
    </main>
    <footer>
      <p>
        Want to update one of the projects?
        Head over to <a href="https://codeberg.org/fediverse/delightful-fediverse-apps">delightful-fediverse-apps</a>!
        Found an issue on this page? Please, <a href="https://codeberg.org/Ryuno-Ki/fedi-builders">fill an issue</a>.
      </p>
      <p>
        Proudly built with
        <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>!
      </p>
    </footer>
  </body>
</html>
