<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fedi Builders</title>
    <meta
      name="description"
      content="A landing page to redirect you to a fediverse projects based on your expertise"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      {{- content | safe -}}
    </main>
    <footer>
      <p>
        Want to update one of the projects?
        Head over to <a href="https://codeberg.org/fediverse/delightful-fediverse-apps">delightful-fediverse-apps</a>!
        Found an issue on this page? Please, <a href="https://codeberg.org/Ryuno-Ki/fedi-builders">fill an issue</a>.
      </p>
      <p>
        Proudly built with
        <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>!
      </p>
      <script src="/fep.js"></script>
      <script>
        (function () {
          'use strict';
          var loading, steps, subject, summary;

          loading = document.getElementById('loading');
          steps = document.getElementById('steps');
          subject = document.getElementById('subject');
          summary = document.getElementById('summary');

          if (!loading || !steps || !subject || !summary) {
            return
          }

          subject.addEventListener('input', function (event) {
            var v = event.target.value;

            fep.shortCode(v).then(function (s) {
              summary.value = fep.format(summary.value, s, v);
              summary.removeAttribute('disabled');

              steps.innerHTML = '';
              [
                'Fork the repository',
                'Create a new branch called "fep-' + s + '"',
                'Create a new directory in "fep" with name "' + s + '"',
                'Create a new file in that directory called "fep-' + s + '.md"',
                'Paste the content from above into that file',
                'Commit the file and push it to Codeberg',
                'Open a Pull Request'
              ].forEach(function (step) {
                var li;

                li = document.createElement('li');
                li.textContent = step;
                steps.appendChild(li);
              });
            });
          });

          fep.template().then(function (t) {
            summary.textContent = t;
          });

          subject.removeAttribute('disabled');

          loading.remove();
        })();
      </script>
    </footer>
  </body>
</html>
